{{define "content"}}
{{$id := .Entry.ID}}
<p><span class="tag status-{{.Entry.Status}}">{{.Entry.Status}}</span> {{.Entry.Time.Format "2006-01-02 15:04:05 MST"}}</p>
{{range .Files}}
<article>
  <h2>{{.Path}}</h2>
  {{template "diff" .Diff}}
  <div class="actions">
    {{if .Existed}}
    <form method="post" action="/history/{{$id}}/stage" class="inline">
      <input type="hidden" name="file" value="{{.Name}}"><input type="hidden" name="version" value="old">
      <button class="secondary">Stage version before this commit</button>
    </form>
    {{end}}
    <form method="post" action="/history/{{$id}}/stage" class="inline">
      <input type="hidden" name="file" value="{{.Name}}"><input type="hidden" name="version" value="new">
      <button class="secondary">Stage this commit's version</button>
    </form>
  </div>
</article>
{{end}}
<h2>Log</h2>
<pre>{{.Entry.Log}}</pre>
{{end}}
